body {
	font-size: 12px;
	margin: 0px;
}

header {
	position: relative;
	width: 100%;
	overflow: auto;
}

header>section.longinregister {
	position: absolute;
	top: 10px;
	right: 20px;
}
header #banner {
	position: relative;
	width: 830px;
	margin: 0px auto;
	overflow: hidden;
}

header #banner section {
	position: relative;
	width: 600%;
	margin-left: -100%;
	display: flex;
	transition: margin-left 1s linear;
}

header #banner section img {
	margin: 0px;
	border-width: 0px;
}

header #banner span {
	position: absolute;
	width: 30px;
	height: 64px;
	top: 200px;
	cursor: pointer;
	background-image: url(img/index.png);
	z-index: 10;
	display: none;
}

header #banner span#btnLeft {
	left: 0px;
	background-position: -82px 185px;
}

header #banner span#btnRight {
	right: 0px;
	background-position: -120px 185px;
}

header #banner span#btnLeft:hover {
	background-position: -161px 185px;
}

header #banner span#btnRight:hover {
	background-position: -198px 185px;
}

#register {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.6);
	display: none;
}

#register>section {
	position: relative;
	width: 500px;
	margin: 200px auto 0px;
	border: solid 1px lightgray;
	border-radius: 5px;
	background-color: #FFFFFF;
}

#register>section>form>dl {
	margin: 0px;
	padding: 20px 10px;
}

#register>section>form>dl>dt {
	margin: 5px;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: center;
	padding-bottom: 5px;
	border-bottom: solid 1px lightgrey;
}

#register>section>form>dl>dd {
	margin: 15px;
}

#register>section>form>dl>dd>label {
	display: inline-block;
	width: 65px;
	margin: 0px 5px 0px 30px;
}

#register>section>form>dl>dd>.input {
	width: 220px;
	height: 26px;
}

#register>section>form>dl>dd>.input-radio {
	margin-left: 50px;
}

#register>section>form>dl>dd>span {
	display: inline-block;
	color: red;
	margin-left: 5px;
}



#register>section>form>dl>dd>.btn {
	width: 225px;
	height: 36px;
	margin-left: 100px;
}